/* TODO Add site wide styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    margin: 50px ;
}

.text-center {
    text-align: center;
}

.authLink {
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    display: block;
    margin-top: 10px;
    text-decoration: none;
}